<%! from django.core.urlresolvers import reverse %>
<%! from django.utils import translation    %>

<div class="wrapper-sock wrapper">
  <ul class="list-actions list-cta">
    <li class="action-item">
      <a href="#sock" class="cta cta-show-sock"><i class="icon-question-sign"></i> <span class="copy">Xem trợ giúp.</span></a>
    </li>
  </ul>

  <div class="wrapper-inner wrapper">
    <section class="sock" id="sock">
      <header>
        <h2 class="title sr">Trợ giúp VNOA Studio</h2>
      </header>

      <div class="support">
        <h3 class="title">Hỗ trợ VNOA Studio</h3>

        <div class="copy">
           <p>Cần giúp đỡ với VNOA Studio? Tạo ra một khóa học rất phức tạp, vì vậy chúng tôi đang ở đây để giúp đỡ. Hãy đặt các câu hỏi cho chúng tôi và chúng tôi sẽ trả lời bạn ngay khi có thể. Email: vn.open.academy@gmail.com</p>
        </div>

      <ul class="list-actions">
        <li class="action-item">
          <a href="http://files.edx.org/Getting_Started_with_Studio.pdf" class="action action-primary" title="This is a PDF Document">Tải về tài liệu Studio</a>
        </li>
        <li class="action-item">
          <a href="http://edx.dtu.vn:8000/help" rel="external" class="action action-primary">Hỏi đáp</a>
          <span class="tip">Hỏi đáp</span>
        </li>
        
      </ul>
      </div>

      <div class="feedback">
        <h3 class="title">Thông tin liên hệ</h3>

        <div class="copy">
           <p>Có vấn đề, câu hỏi, gợi ý về Studio? Chúng tôi cũng ở đây để lắng nghe bất kỳ phản hồi nào bạn muốn chia sẻ.</p>
        </div>

        <ul class="list-actions">
          <li class="action-item">

            <a href="http://edx.dtu.vn:8000/contact"  title="Use our feedback tool, Tender, to share your feedback"><i class="icon-comments"></i>Liên hệ</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
