<%! from django.utils.translation import ugettext as _ %>
<%! from django.utils import translation    %>
<%!translation.activate('vi')%>

<%inherit file="base.html" />
<%block name="title">${_("Page Not Found")}</%block>

<%block name="content">

<div class="wrapper-content wrapper">
  <section class="content">

    <h1>${_("Page not found")}</h1>
    <p>${_("The page that you were looking for was not found. Go back to the")} <a href="/">${_("homepage")}</a>${_("or let us know about any pages that may have been moved at")} <a href="mailto:technical@edx.org">technical@edx.org</a>.</p>
  </section>
</div>

</%block>