<%! from django.utils.translation import ugettext as _ %>



<%! from django.core.urlresolvers import reverse %>
<%! from time import strftime %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<style type="text/css">
/*** Demo style - Not required **/
body {
	background: #999;
}
</style>
<body>
<meta charset="utf-8">
<form action="/search/" method="get" id="search-form">
   <br/><br/>
  <div align='center'>
  <input type="text" name="courseName" size="50"/>
  <input type="submit" value="Search" />
  </div>
 <div >




    <div align='right' id="header_search" style="margin-top: 50px;margin-right: 115px;margin-bottom: -20px">


    <select title="subject list" onChange="this.form.submit();" name='subject'>
                    <option selected="selected" value=''>  <<-----   Chủ Đề   ---->> </option>
                    <option value="KHTN">Khoa Học Tự Nhiên</option>
                    <option value="KHXH">Khoa Học Xã Hôi</option>
                    <option value="LTRINH">Lập Trình</option>
                    <option value="KNMEM">Kỷ Năng Mềm</option>
                    <option value="CNTT">Công Nghệ Thông Tin</option>
                    <option value="KHAC">Khác</option>
    </select>


    <select title="school list" onChange="this.form.submit();" name='school'>
        <option selected="selected"  value=''><<--- Trường Đại Học --->></option>
         <option value="DDT">Đại Học Duy Tân</option>
                    <option value="VNOA">Học Viện Mở Việt Nam</option>
                    <option value="DDK">Đại Học Bách Khoa Đà Nẵng</option>
                    <option value="BKA">Đại Học Bách Khoa Hà Nội</option>
                    <option value="FPT">Đại Học FPT</option>
                    <option value="NTH">Đại Học Ngoại Thương</option>
		    <option value="UET">Đại Học Công Nghệ - ĐHQGHN</option>
                    <option value="OTH">Khác</option>
     </select>
    </div>



 </div>

 </form>
</body>
     <br/>     <br/>     
    <section class="home">
        <section class="container">
            <section class="highlighted-courses">
                <section class="courses">
                      <ul class="courses-listing">
                      %for course in courses:
                        <li class="courses-listing-item">
                          <%include file="course.html" args="course=course" />
                        </li>
                      %endfor
                      </ul>
                 </section>
             </section>
         </section>
      </section>

